body{
    margin: 0;
}

#container{
    background-color: lightblue;
    width: 100vw;
    height: 700px;
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */

    /* align-content: center;
    justify-content: center; */
    /* align-content: flex-end; */
    /* align-content: flex-start; */
    /* align-content: space-between; */
    /* align-content: space-around; */
    /* align-content: stretch; */
}

.item{
    background-color: lightcoral;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 12px;
    text-align: center;
}